@import "../../styles/variables";
@import "../../styles/common";

.section {

  &__link {
    color: red;
  }

  &__title-holder {
    display: flex;
    justify-content: space-between;
  }

  &__position,
  &__year-range{
    font-size: 32px;
    color: $lightBlue;
    font-weight: 500;
  }

  &__company {
    padding: 15px 0;
    font-size: 26px;
  }
}