@import "../styles/variables";

.section {

  margin-top: 80px;

  &__text-holder {
    border-top: 2px solid $gray;
    padding: 15px 0;
  }

  &__title{
    color: $lightBlue;
    text-align: center;
    font-size: 32px;
  }

  &__text {
    font-size: 22px;
    color: $gray;
    font-weight: 500;
  }

  &__accent {
    color: $lightBlue;
    font-size: 24px;
  }

  &__link {
    color: $lightBlue;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }
}