@import "../styles/variables";

.section {

  margin-bottom: 80px;

  @media screen and (max-width: $mobileLargh){
    margin-bottom: 40px;
  }

  &__text-holder {
    border-top: 2px solid $gray;
    padding: 15px 0;
  }

  &__title{
    color: $lightBlue;
    text-align: center;
    font-size: 32px;

    @media screen and (max-width: $mobileLargh){
      font-size: 28px;
    }
  }

  &__text {
    font-size: 22px;
    color: $gray;
    font-weight: 500;

    @media screen and (max-width: $mobileLargh){
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__accent {
    color: $lightBlue;
    font-size: 24px;
  }

  &__link {
    color: $lightBlue;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }
}
