@import "../../styles/variables";

.container {
  padding: 0 5%;
  width: 95%;
  max-width: 1400px;
  margin: 5% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
  border-radius: 5px;

  @media screen and (min-width: 1921px) {
    padding: 0 70px;
  }

  .locale {
    position: relative;
    top: 15px;

    @media screen and (max-width: $smallScreen){
      margin-right: 0;
      top: 0;
    }
  }
}
