@import "../../styles/variables";

.header {
  display: flex;
  margin-bottom: 80px;

  @media screen and (max-width: $mobileLargh){
    margin-bottom: 40px;
  }

  @media screen and (max-width: $mobileSmall){
    margin-bottom: 0;
  }

  &__title {
    color: $lightBlue;
    font-size: 46px;
    line-height: normal;

    @media screen and (max-width: $smallScreen){
      text-align: center;
    }

    @media screen and (max-width: $mobileLargh){
      font-size: 40px;
    }

    @media screen and (max-width: $mobileSmall){
      font-size: 32px;
    }
  }

  &__subtitle {
    color: $lightBlue;

    @media screen and (max-width: $smallScreen){
      text-align: center;
    }
  }

  &__image-holder {
    max-width: 355px;

    @media screen and (max-width: $smallScreen) {
      width: 100%;
      max-width: none;
    }
  }

  &__personal-info-holder {
    padding: 20px 40px;
    line-height: 35px;

    @media screen and (max-width: $smallScreen){
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__info-holder {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @media screen and (max-width: 500px){
      margin-top: 20px;
    }
  }

  &__image {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__phone-holder,
  &__email-holder,
  &__skype-holder,
  &__live-holder{
    font-size: 26px;
    color: #4473A5;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $mobileLargh){
      font-size: 24px;
    }

    @media screen and (max-width: 500px){
      flex-direction: column;
      text-align: center;
      margin: 15px 0;
    }
  }

  &__phone,
  &__email,
  &__skype,
  &__live{
    font-weight: 500;
  }

  &__email-link {
    color: $darkBlue;
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $smallScreen) {
    flex-direction: column;
  }
}
