@import "../../styles/variables";
@import "../../styles/common";

.section {

  &__link {
    color: red;
  }

  &__title-holder {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 550px){
      flex-direction: column;
      text-align: center;
    }
  }

  &__position,
  &__year-range{
    font-size: 32px;
    color: $lightBlue;
    font-weight: 500;

    @media screen and (max-width: $mobileLargh){
      font-size: 26px;
    }
  }

  &__company {
    padding: 15px 0;
    font-size: 26px;
  }
}
