@import "../../styles/variables";
@import "~react-flags-select/scss/react-flags-select.scss";

.locale {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 20px 0;
  margin-bottom: 5%;

  .flag-select {
    position: relative;
    right: -8px;
  }

  @media screen and (max-width: $smallScreen){
    margin-bottom: 0;
  }
}
